<form
  class='login__form'
  [connectForm]="form$ | async"
  [formGroup]="form"
  (ngSubmit)="submit()">
  <ion-item
    class="login__field">
    <ion-input
      class="login__input medium"
      formControlName="login"
      [placeholder]="'LOGIN_TITLE' | translate"
      type="text"
      clearInput>
    </ion-input>
  </ion-item>
  <ion-item
    class="login__field">
    <ion-input
      class="login__input medium"
      formControlName="password"
      [placeholder]="'PASSWORD' | translate"
      type="password"
      clearInput>
    </ion-input>
  </ion-item>
  <button
    class="login__button uppercased bold medium"
    ion-button
    type="submit">
    {{ 'LOGIN' | translate }}
  </button>
</form>