page-dashboard {
  .header {
    .menu__button {
      color: $darkerGray;
    }
    .toolbar-background {
      background-color: $white;
    }
    .header__logo {
      height: $headerHeight * 0.8;
    }
  }
  .scroll-content {
    background: $lightGray;
  }
  .content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-content: stretch;
  }
}

@media screen and (min-width: $mgTabletScreenWidth) {
  .header {
    .title {
      width: initial;
      padding: 0 12px;
    }
  }
  .content {
    grid-template-areas: 
      'summary summary pending pending'
      'offer offer offer transactions'
    ;
    summary-container {
      grid-area: summary;
    }
    pending-container {
      grid-area: pending;
    }
    offers-container {
      grid-area: offer;
    }
    transactions-container {
      grid-area: transactions;
    }
    grid-template-columns: 1fr 0.2fr 0.2fr 1fr !important;
  }
}

@media screen and (min-width: $mgDesktopScreenWidth) {
  .content {
    grid-template-areas: 
      'summary pending offer transactions' !important;
    grid-template-columns: 0.8fr 1fr 1.6fr 1fr !important;
    grid-template-rows: 1fr !important;
  }
}
