summary-takings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .entire, .monthly {
    border-right: 2px solid $gray;
  }
  .weekly {
    .single__label, .single__value {
      color: $red;
    }
  }
}
