transactions-container {
  border-radius: $dashboardSmallPadding;
  display: grid;
  grid-row-gap: 10px;
  align-content: start;
}

@media screen and (min-width: $mgTabletScreenWidth) {
  transactions-container {
  }
}