offer-modal {
  width: 100%;
  height: 100%;
  background: $white;
  overflow-y: scroll;
  .text-input {
    padding-right: 20px;
  }
  .offer__close-button {
    z-index: 3;
    position: absolute;
    top: $cntHeadHM / 8;
    right: $cntHeadHM / 8;
    border: 0;
    color: $darkGray;
    .button-effect {
      background-color: $darkGray;
    }
    &.activated {
      background-color: $darkGray;
      * {
        color: $white;
      }
    }
    * {
      font-size: $fontIconM;
      color: $darkGray;
    }
  }
}