offers-item {
  display: grid;
  grid-template-areas: 
    "avatar meta add edit"
    "avatar meta remove edit";
  grid-template-columns: $dashboardItemHeight - $dashboardLargePadding auto $dashboardItemHeight / 2 $dashboardItemHeight / 2;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: $dashboardSmallPadding;
  height: $dashboardItemHeight;
  width: 100%;
  border-bottom: $borderWidth solid $lightGray;
  padding: $dashboardSmallPadding;
  .offer__avatar {
    grid-area: avatar;
    .avatar__placeholder {
      color: $red;
      border: $borderWidth solid $red;
      border-radius: 50%;
    }
  }
  .offer__meta {
    grid-area: meta;
  }
  .offer__add {
    grid-area: add;
  }
  .offer__remove {
    grid-area: remove;
  }
  .offer__edit {
    grid-area: edit;
  }
  .offer--icon {
    width: 100%;
    height: 100%;
    font-size: $dashboardCardIcon;
    font-weight: bold;
  }
}
