<container-header
  [title]="'Klienci'">
  <button
    ion-button
    block
    outline
    button-primary>
    <ion-icon
      name="md-mail-open">
    </ion-icon>
  </button>
  <button
    ion-button
    block
    outline
    button-secondary>
    <ion-icon
      name="md-crop">
    </ion-icon>
  </button>
  <button
    ion-button
    block
    outline
    button-tetriary>
    <ion-icon
      name="md-arrow-dropright">
    </ion-icon>
  </button>
</container-header>
<container-subheader
  class="orange-title"
  [title]="'Aktualne'"
  [date]="'2018-12-12'">
</container-subheader>