<container-header
  [title]="'Klienci'">
  <yummy-button
    (click)="complete()"
    button-primary
    [icon]="'accept'">
  </yummy-button>
  <yummy-button
    (click)="cancel()"
    button-secondary
    [icon]="'close'">
  </yummy-button>
  <yummy-button
    (click)="create()"
    button-tetriary
    [icon]="'go'">
  </yummy-button>
</container-header>
<container-subheader
  class="orange-title"
  [title]="'Aktualne'"
  [date]="'2018-12-12'">
</container-subheader>
<pending-list>
</pending-list>