<div
  class="card__content">
  <span
    class="content__orders">
    zamówienia
  </span>
  <summary-chart
    [label]="'przyjęte'"
    [progress$]="acceptedOrders$">
  </summary-chart>
  <summary-chart
    [label]="'anulowane'"
    [progress$]="canceledOrders$">
  </summary-chart>
  <summary-chart
    [label]="'odebrane'"
    [progress$]="completedOrders$">
  </summary-chart>
  <summary-chart
    [label]="'nieodebrane'"
    [progress$]="missedOrders$">
  </summary-chart>
  <span
    class="content__takings">
    utarg
  </span>
  <summary-takings>
  </summary-takings>
</div>