container-header {
  width: 100%;
  height: $cntHeadHM;
  display: flex;
  justify-content: stretch;
  background: $white;
  .title {
    flex: 7;
    line-height: $cntHeadHM;
    padding: 0 $cntHeadHM / 2;
    font-size: $fontLargeM;
    font-weight: 700;
  }
  .button {
    height: 100%;
    width: $cntHeadHM * 1.2;
    box-sizing: border-box;
    margin: 0;
    border-right: 0; 
    border-top: 0;
    border-bottom: 0;
    border-radius: 0;
    border-left: 3px solid $lightGray;
    &.activated {
      background-color: $darkGray;
      * {
        color: $white;
      }
    }
    * {
      font-size: $fontIconM;
      color: $darkGray;
    }
  }
}

@media screen and (min-width: $mgTabletScreenWidth) {
  container-header {
    height: $cntHeadHT;
    .title {
      line-height: $cntHeadHT;
      font-size: $fontLargeT;
      padding: 0 $cntHeadHT / 2;
    }
    .button {
      width: $cntHeadHT;
      * {
        font-size: $fontIconT;
      }
    }
  } 
}

@media screen and (min-width: $mgDesktopScreenWidth) {
  container-header {
    height: $cntHeadHD;
    .title {
      line-height: $cntHeadHD;
      font-size: $fontLargeD;
      padding: 0 $cntHeadHD / 2;
    }
    .button {
      width: $cntHeadHD / 1.2;
      * {
        font-size: $fontIconD;
      }
    }
  }
}
